/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
h1,h2,h3,h4 {
  font-family: 'Sarabun', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Kanit', sans-serif; }
/* กำหนกการปริ้นเอกสาร */
@media print {

    @page {size: A4; margin: 0; }
    img { height: 90%; margin: 0; padding: 0; }	
    font{ font-size: 10pt;}

  .no-print, .no-print *
    {
        display: none !important;
    }
}
/* กำหนกการปริ้นเอกสาร */

.material-icons{
    font-family: 'Material Icons' !important;
}

/* Table Css  */

.table-responsive{
    height:1000px;  
    overflow:scroll;
  }
   thead tr:nth-child(2) th{
      background: rgb(255, 255, 255);
      position: sticky;
      top: 0;
      z-index: 10;
      word-wrap: break-word;
    }
  
    #thead tr:nth-child(1) th{
      background: rgb(17, 207, 255);
      position: sticky;
      top: 0;
      z-index: 10;
      word-wrap: break-word;
    }
    td{
      word-wrap: break-word;
    }

  /* End  */

  agm-map {
    height: 600px;
    width: 100%;
   }
   

   /* Card CSS  */

   .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* navbar tab */

  
.nav-tabs .nav-item .nav-link {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  stroke:black;
  -webkit-text-fill-color: black;
}

.nav-tabs .nav-item .nav-link.active {
  background-color: #39A9DB;
  color: whitesmoke;
}

table,thead {
  font-family: 'Sarabun', sans-serif;
  border-radius: 3em;
}


.table-head-fixed .thead.tr.th {
  background-color: #39A9DB;
}

.mat-form-field {
  font-family: 'Kanit', sans-serif;
  font-size: 14px;
  width: 100%;
}

h3,h4,h5 {
  font-weight: bold;
  font-family: 'Sarabun', sans-serif;
 
}

#Kanit {
  font-family: 'Kanit', sans-serif;
}

mat-card,mat-card-header,mat-card-actions,mat-button {
  font-family: 'Sarabun', sans-serif;
}

#KanitTH {
  font-size: 15px;
  font-family: 'Sarabun', sans-serif;
  color:  white;
  background-color: rgb(21, 112, 216);
}

tr.mat-header-row {
  justify-content: center;
  font-family: 'Sarabun', sans-serif;
  font-size: 15px;
}

tr.mat-row, tr.mat-footer-row {
  height: 48px;
  font-family: 'Sarabun', sans-serif;
}

.icon-display {
  transform: scale(4);
}

.icon-display-2 {
  transform: scale(3);
}
.material-icons.color_green { color: #00FF00; }
.material-icons.color_black { color: #000000; }

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.mat-elevation-z8 {    
  overflow-x: auto;
 }

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}


