<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="content-wrapper" style="min-height: 307px">
<section class="content" id="myprofile">
   <div class="col-md-12">
      <div class="col-md-12">
         <div class="card">
            <div class="card-header bg-info"> ข้อมูลส่วนตัว
               <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
               </div>
            </div>
            <div class="card-body">
            
            </div>
         </div>
      </div>
      <div class="col-md-12">
         <div class="card">
            <div class="card-header bg-success">  ผลสรุป KPI 
               <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
               </div>
            </div>
            <div class="card-body">
            
            </div>
         </div>
      </div>
      <div class="col-md-12">
         <div class="card">
            <div class="card-header bg-warning">   กราฟของฉัน 
               <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
               </div>
            </div>
            <div class="card-body">
               <div class="row">
                  <div class="col-md-4">
                      <div class="card">
                          <br>
                          <div id="MyArea" style="height: 500px; width: 100%;"></div>
                      </div>
                      
                  </div>
              
                  <br><br> 
                  <div class="col-md-4">
                      <div class="card">
                          <br>
                          <div id="MyTon" style="height: 500px; width: 100%;"></div>
                      </div>
                  </div>

                  <div class="col-md-4">
                      <div class="card">
                          <br>
                          <div id="MyYield" style="height: 500px; width: 100%;"></div>
                      </div>
                  </div>
              </div>
            </div>
         </div>
      </div>
      <div class="col-md-12">
         <div class="card">
            <div class="card-header bg-danger"> ข้อมูลส่วนตัว
               <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
               </div>
            </div>
            <div class="card-body">
               
            </div>
         </div>
      </div>

   </div>
   
</section>
</div>
<app-footer></app-footer>